.btn{
  margin:5px 2px;
}

.input-container{
  color: black;
  padding:3px;
}
.OT{
  background-color: red;
  color :white
}
.GP{
  background-color: blue;
  color:white;
}

.RH{
  background-color: green;
  color:white;

}